body {
    background: url('/assets/images/wallpaper.png') no-repeat center center fixed;
    background-size: cover;
  }
  
/* Force avatar to be a rectangle */
.author__avatar {
  border-radius: 0 !important; /* Removes oval shape */
  width: 120px !important;  /* Adjust width */
  height: auto !important;  /* Maintain aspect ratio */
  object-fit: cover !important; /* Ensures proper scaling */
}

