body {
    background: url('/assets/images/wallpaper.png') no-repeat center center fixed;
    background-size: cover;
  }
  
/* Remove the oval/circle cropping effect */
.author__avatar img {
  border-radius: 0 !important; /* Ensures the image retains its original shape */
  width: auto; /* Keeps the natural width */
  height: auto; /* Keeps the natural height */
}
